/* Estilos generales */
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f9;
    animation: fadeIn 1s ease-in-out;

}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: relative;
} 

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
}

.language-switch {
    position: absolute;
    right: 15px;
    cursor: pointer;
    display: flex;
    gap: 10px;
}
.language-switch img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ff9900;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    color: #333;
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: normal;
}


/* ---------- APARTADOS ---------- */

#sobre-mi {
    max-width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #c6efffaa;
    color: #333;
    border-radius: 0px;
    position: relative;
}

.seguir-leyendo {
    position: absolute;
    bottom: 60px; /* Espaciado desde el borde inferior */
    font-size: 1rem; /* Ajusta el tamaño del texto */
    color: #8a8a8a; /* Color destacado */
    text-decoration: underline; /* Indica que es interactivo */
    cursor: pointer; /* Cambia el cursor a pointer al pasar sobre él */
    transition: color 0.3s ease; /* Suaviza los cambios de color */
}

.seguir-leyendo:hover {
    color: #000000; /* Color diferente al pasar el ratón */
}

#proyectos .proyecto {
    margin-bottom: 1.5rem;
}

#proyectos .proyecto h3 {
    color: #ff9900;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}

/* Botón de contacto */
section#contacto span a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #ff9900;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s ease;
}

section#contacto span a:hover {
    background: #e68a00;
}

/* Ajuste responsive */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 0.5rem 0;
    }

    section {
        padding: 1rem;
    }
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}